streamlit==1.58.0
pandas
openpyxl
pillow
requests
beautifulsoup4
lxml
trafilatura
python-dateutil
lxml_html_clean
sentence-transformers
scikit-learn
pypdf
supabase
streamlit-echarts==0.7.0
google-generativeai